@media only screen and (max-width: 767px) {
    .cus-logo {
        width: 30%;
    }
    .nav_btn {
        padding: 3% 13%;
    }
    .container {
        max-width: 90%;
    }
    .cus-h2 {
        font-size: 35px;
    }
    .cus-h3 {
        font-size: 23px;
        line-height: 40px;
    }
    .cus-h4 br {
        display: none;
    }
    .cus-btn {
        padding: 6% 0%;
    }
    .cus-btn-light {
        padding: 6% 0%;
    }
    .navbar {
        padding: 0.5rem 0rem;
    }
    .navbar-collapse {
        margin-top: 5%;
    }
    .nav-link {
        padding: 0.3rem 1rem;
    }
    .navbar-nav {
        border-bottom: 1px solid #dbc8c81f;
        padding-bottom: 10%;
    }
    .offset-2 {
        margin-left: 0%;
    }
    .com-million {
        width: 100%;
    }
    .com-one {
        font-size: 60px;
    }
    .com-mil-text {
        font-size: 60px;
    }
    .com-p {
        font-size: 16px;
    }
    .util-box::after {
        border-bottom: none;
    }
    .token-p1 br {
        display: none;
    }
    .utl-icon {
        width: 30%;
    }
    .util-h4 {
        margin: 6% 0% 5% 0%;
    }
    .social-box {
        margin: 10% auto 0 auto;
        width: 100%;
    }
    .join-box {
        padding: 7% 1% 5% 1%;
    }
    .cus-footer {
        padding: 10% 0% 7% 0%;
    }
    .footer-h5 br {
        display: none;
    }
    .col-lg-6 .text-right {
        text-align: left !important;
        margin-top: 4%;
    }
    .footer-link {
        margin-left: 0%;
        width: 100%;
        float: left;
        margin-bottom: 2%;
        text-decoration: underline;
    }
    .cookies-p1 {
        text-align: left;
        margin: 3% 0% 0% 0%;
    }
}